apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend:dev
        ports:
        - containerPort: 8010
        env:
        - name: DB_USER
          value: devuser
        - name: DB_PASS
          value: devpass123
        - name: DB_HOST
          value: postgres
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: appdb
        - name: NODE_ENV
          value: development
        - name: PORT_DEV
          value: "8010"
